fieldset {
  margin-top: 25px;
  margin-bottom: 25px;
}
fieldset > legend {
  background-color: #f2f2f2!important;
}

.row > button {
  margin-right: 20px;
}
form{
  background-color: #f2f2f2;
  padding: 60px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 20px 20px 40px 8px rgba(80, 80, 82, 0.8);
}