<app-nav></app-nav>
<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div  class="alert alert-danger" *ngIf="err==1" >
        <strong>login ou mot de passe incorrect</strong>
      </div>
      <form >
        <div class="form-group">
          <label >Nouveau mot de passe :</label>
          <input type="password" name="password" [(ngModel)]="newPassworRequest.newPassword"
                 class="form-control"
          >
        </div>
        <div class="form-group">
          <label >Confirmation du nouveau mot de passe :</label>
          <input type="password" name="password" [(ngModel)]="newPassworRequest.confirmPassword"
                 class="form-control">
        </div>
        <div class="row justify-content-md-center">
          <button type="button"
                  class="btn btn-success" (click)="onChange()">valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
