<app-nav></app-nav>
<div class="container">
  <form>
    <fieldset>
      <legend>Informations personnelles:</legend>
      <div class="row form-group">
        <div class="col-md-4">
          <label >NIN <span class="obligatoire">*</span> :</label>
          <input readonly type="text" class="form-control" name="nin" [(ngModel)]="currentDemandeur.nin"  placeholder="nin">
        </div>
        <div class="col-md-4">
          <label >Prenom <span class="obligatoire">*</span> :</label>
          <input type="text" class="form-control" name="prenom" required  [(ngModel)]="currentDemandeur.prenom"  placeholder="prénom" #prenom="ngModel">
          <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="alert alert-danger">
            <div *ngIf="prenom.errors?.['required']">
              Le prénom est obligatoire.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label >Nom <span class="obligatoire">*</span> :</label>
          <input type="text" class="form-control" name="nom" required  [(ngModel)]="currentDemandeur.nom" placeholder="nom" #nom="ngModel">
          <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
            <div *ngIf="nom.errors?.['required']">
              Le nom est obligatoire.
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-4">
          <label >Date de naissance <span class="obligatoire">*</span> :</label>
          <input type="date" class="form-control" name="datedenaissance" required [(ngModel)]="currentDemandeur.datedenaissance"  placeholder="date de naissance" #datenaissance="ngModel">
          <div *ngIf="datenaissance.invalid && (datenaissance.dirty || datenaissance.touched)" class="alert alert-danger">
            <div *ngIf="datenaissance.errors?.['required']">
              La date de naissance est obligatoire.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label >Lieu de naissance <span class="obligatoire">*</span> :</label>
          <input type="text" class="form-control" name="lieudenaissance" required [(ngModel)]="currentDemandeur.lieudenaissance"  placeholder="lieu de naissance" #lieudenaissance="ngModel">
          <div *ngIf="lieudenaissance.invalid && (lieudenaissance.dirty || lieudenaissance.touched)" class="alert alert-danger">
            <div *ngIf="lieudenaissance.errors?.['required']">
              Le lieu de naissance est obligatoire.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label >Sexe <span class="obligatoire">*</span> :</label>
          <select class="form-control" name="sexe" required  [(ngModel)]="currentDemandeur.sexe" #sexe="ngModel">
            <option value="">Choisir</option>
            <option value="masculin">Masculin</option>
            <option value="feminin">Féminin</option>
          </select>
          <div *ngIf="sexe.invalid && (sexe.dirty || sexe.touched)" class="alert alert-danger">
            <div *ngIf="sexe.errors?.['required']">
              Le sexe est obligatoire.
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Autres informations:</legend>
      <div class="row form-group">
        <div class="col-md-6 col-sm-12">
          <div class="row form-group">
            <div class="col-12">
              <label >Adresse <span class="obligatoire">*</span> :</label>
              <input type="text" class="form-control" name="adresse"  required [(ngModel)]="currentDemandeur.adresse" placeholder="adresse" #adresse="ngModel">
              <div *ngIf="adresse.invalid && (adresse.dirty || adresse.touched)" class="alert alert-danger">
                <div *ngIf="adresse.errors?.['required']">
                  L'adresse est obligatoire.
                </div>
              </div>
            </div>
            <div class="col-12">
              <label >Téléphone <span class="obligatoire">*</span> :</label>
              <input type="text" class="form-control" name="telephone"  required [(ngModel)]="currentDemandeur.telephone" placeholder="téléphone" #telephone="ngModel">
              <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="alert alert-danger">
                <div *ngIf="telephone.errors?.['required']">
                  Le téléphone est obligatoire.
                </div>
              </div>
            </div>
            <div class="col-12"><label >Fonction <span class="obligatoire">*</span> :</label>
              <input type="text" class="form-control" name="fonction"  required [(ngModel)]="currentDemandeur.fonction" placeholder="fonction" id="fonction" #fonction="ngModel">
              <div *ngIf="fonction.invalid && (fonction.dirty || fonction.touched)" class="alert alert-danger">
                <div *ngIf="fonction.errors?.['required']">
                  La fonction est obligatoire.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <label >scanner cni : ( jpeg, jpg, png, pdf )</label>
              <input type="file" id="file" accept=".pdf, .jpg, .jpeg, .png" size="4MB" (change)="onImageUpload($event)" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="office-viewer">
                <iframe [src]='urlSafe' width='100%' height='auto'></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--div class="row form-group">
        <div class="col-md-6">
          <label >Adresse :</label>
          <input type="text" class="form-control" name="adresse"  [(ngModel)]="currentDemandeur.adresse" placeholder="adresse">
        </div>
        <div class="col-md-6">
          <label >Téléphone :</label>
          <input type="text" class="form-control" name="telephone"  [(ngModel)]="currentDemandeur.telephone" placeholder="téléphone">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <label >Fonction :</label>
          <input type="text" class="form-control" name="fonction"  [(ngModel)]="currentDemandeur.fonction" placeholder="fonction">
        </div>
        <div class="col-md-6">
          <label >scanner cni :</label>
          <input type="file" class="form-control" placeholder="choisir fichier">
        </div>
      </div-->
    </fieldset>
    <fieldset>
      <div class="row form-group mb-3 gap">
        <button type="submit" class="btn btn-success" (click)="onUpdate()">valider</button>
        <button class="btn btn-danger">annuler</button>
      </div>
    </fieldset>
  </form>
</div>
<app-footer></app-footer>
