form > div:last-child {
  gap: 15px;
}
.container{
  background-color: #f2f2f2f2;
  border-radius: 200px 200px 0px 0px;
  padding: 60px;
}
button{
  margin-top: 20px;
}
h3{
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;

}