<app-nav></app-nav>
<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
        <div  class="alert alert-danger" *ngIf="err==1" >
          <strong>login ou mot de passe incorrect</strong>
        </div>
      <form>
        <div class="form-group">
          <label >Nom Utilisateur :</label>
          <input type="text" name="username" [(ngModel)]="user.email"
                 class="form-control"
                  >
        </div>
        <div class="form-group">
          <label >Mot de passe :</label>
          <input type="password" name="password" [(ngModel)]="user.password"
                  class="form-control">
        </div>
        <p>Mot de passe oublié? <a routerLink="/reset-password">réinitialiser </a></p>
        <div class="row justify-content-md-center gap">
          <button type="button"
                  class="btn btn-success" (click)="onLoggedin()">Connexion</button>

          <button type="button"
                  class="btn btn-primary" routerLink="/inscription">S'inscrire</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
