@media screen and (max-width: 768px) {
  .sm{
    padding: 0px 0px 0px 15px;
  }
}

h3{
  font-family: 25px;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 600;
}

button{
  margin-top: 40px;
}

form{
  background-color: #f2f2f2f2;
  border-radius: 25px 25px 25px 25px;
  padding: 35px;
  box-shadow: 10px 10px 20px 8px rgba(80, 80, 82, 0.8);
}
