@media screen and (max-width: 768px) {
  .sm{
    padding: 0px 0px 0px 15px;
  }
}

h3{
  font-family: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
  background-color: white;
  padding: 8px;
  letter-spacing: 1px;
  border-radius: 5px 5px 5px 5px;
}

button{
  margin-top: 20px;
}

form{
  background-color: #f2f2f2f2;
  border-radius: 25px 25px 25px 25px;
  padding: 20px;
  /* box-shadow: 10px 10px 10px 8px rgba(199, 198, 198, 0.8); */
  border: 2rem solid  rgb(246, 244, 244);
}

