.footer-top {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 15px 0px 0px 15px;
  background-color: #f2f2f2;
}

.logo {
  width: 100%;
  height: 2px;
}

.footer-bottom{
  display: flex;
  justify-content: space-around;
  padding: 8px 0px 0px 8px;
  background-color: #f8f9fa;
}

.row{
  margin: 0px;
}

@media screen and (max-width: 768px) {


}
p{
  font-size: 13px;
}
