<div class="row footer-top">
    <div class="col-md-4">
      <p>
        <b>Téléphone</b>
        <br>
        +221 33 839 66 00
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <b>Email</b>
        <br>
        emploi@fpublique.gouv.sn
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <b> Localisation</b>
        <br>
        52, Vincens x Abdou Karim BOURGI, Dakar
      </p>
    </div>
</div>
<div class="row footer-center">
      <img class="logo" src="https://fonctionpublique.gouv.sn/IMG/logo/logo-republique-du-senegal.png" alt="logo-republique-du-senegal">
</div>
<div class="row footer-bottom">
      <p>©️ 2024 copyright &nbsp;
        <a href="http://www.fonctionpublique.gouv.sn">~
          Ministère de la Fonction Publique et de la Réforme du Service Public</a>&nbsp;&nbsp;~ Plateforme de demande d'attestion de non-appartenance á la Fonction Publique (MFPRS)
      </p>
</div>





