/* You can add global styles to this file, and also import other style files */
/* body{
  min-height: 300vh;

} */
app-footer{
  position: fixed;
  margin-top: 50px;
  bottom: 0px;
  width: 100%;
}

.obligatoire{
  color: red;
  width: 20px;
  height: 20px;
}

.gap{
  gap: 15px;
}
/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
  min-height: 200vh; */
    /* background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg'); */
    /* background-image: url("src/assets/pexels-cottonbro-6334064.jpg");
  background-size:cover;
        -webkit-animation: slidein 150s;
        animation: slidein 150s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
} */

/* src/assets/unnamed.png */



