/* You can add global styles to this file, and also import other style files */
/* body{
  min-height: 300vh;

} */
body  {
  min-height: 200vh; 
  background-image: url("src/assets/d1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px 1330px;

}
app-footer{
  position: fixed;
  margin-top: 50px;
  bottom: 0px;
  width: 100%;
}

.obligatoire{
  color: red;
  width: 20px;
  height: 20px;
}

.gap{
  gap: 15px;
}



