<app-nav></app-nav>
<div class="container">
  <section class="content">
      <div class="row mt-5">
        <app-card class="col-lg-3 col-6" *ngFor="let s of statisques" [infoStatistique]="s"
                  (stringChange)="onStatut($event)">
        </app-card>
    </div>
  </section>

  <section class="content mt-5 lg-section">
   
      <div class="row">
        <div class="col-12">
          <div class="card" style="background-color: rgb(241, 240, 240);">
            <div class="card-header">
              <input class="form-control" style="width: 50%; float: right;" type="search" name="name" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Rechercher..." >
              
              <h3 class="card-title">{{titre}}</h3>
            </div>
            <!-- /.card-header -->
            <div class="">
              <table id="" class="table" style="background: none;">
                
                <thead>
                <tr>
                  <th>Prénom et Nom</th>
                  <th>Date et Lieu de Naissance</th>
                  <th>NIN</th>
                  <th>Statut</th>
                  <th>Action</th>
                </tr>
                </thead>
               

                <tbody>
                <tr *ngFor="let demande of demandes | paginate: {itemsPerPage: itemsPerPage, currentPage: p} ">
                  <td>{{demande.demandeurDTO?.fullName}}</td>
                  <td>{{demande.demandeurDTO?.datedenaissance}} à {{demande.demandeurDTO?.lieudenaissance}}</td>
                  <td>{{demande.demandeurDTO?.nin}}</td>
                  <td>{{demande.statut}}</td>
                  <td><a [routerLink]="['/verification', demande.id]">voir</a></td>
                </tr>
                </tbody>
                
              </table>
              <div *ngIf="noDataFound" class="alert">
                Demande non Trouvée 
               <img (click)="refresh()" src="/assets/recharger (1).png"  alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="mt-8 py-5 flex justify-center item-center">
        <pagination-controls (pageChange)="p =$event"></pagination-controls>
      </div>
    </div>

  </section>

</div>
<app-footer></app-footer>

