.no-wrap{
  flex-wrap: nowrap;
}

app-card{
  padding: 5px;
  margin: 0px;
}
app-card > div {
  padding-top: 10px;
}
.row > div{
  padding: 0px;
}

.lg-section{
  margin-bottom: 150px;
}
.alert{
  color: red;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}
img{
  margin-left: 25px;
  height : 30px;
  width:30px;
  color: greenyellow;
}
